.card {
  box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
  border-radius: var(--border-radius);
  overflow: hidden;
  padding-bottom: 40px;

  @media screen and (min-width: 750px) {
    padding-bottom: 90px;
  }
  
  @media screen and (min-width: 1200px) {
    padding-bottom: 40px;
  }

  &__image {
    position: relative;
    min-height: 250px;
    margin-bottom: 20px;

    @media screen and (min-width: 750px) {
      min-height: 320px;
      margin-bottom: 50px;
    }

    @media screen and (min-width: 1200px) {
      min-height: 160px;
      margin-bottom: 25px;
    }
  }

  &__body {
    padding: 0 20px;

    @media screen and (min-width: 750px) {
      padding: 0 50px;
    }

    @media screen and (min-width: 1200px) {
      padding: 0 24px;
    }
  }

  &__name {
    margin: 0;
    font-size: 18px;
    margin-bottom: 15px;

    @media screen and (min-width: 750px) {
      font-size: 36px;
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }

  &__feature {
    list-style: none;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 750px) {
      font-size: 26px;
    }
    
    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }

  &__feature-item {
    & + & {
      margin-top: 13px;

      @media screen and (min-width: 750px) {
        margin-top: 13px;
      }

      @media screen and (min-width: 1200px) {
        margin-top: 5px;
      }
    }
  }
}
