.skeleton {
  height: 300px;
  width: 100%;
  background-color: #cdcdcd;
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    z-index: 10;
    transform: translate(-50%, -50%) scale(0);
  }

  &::after {
    background-color: rgba(255, 255,255, .3);
    animation: wave 2.5s infinite;
  }

  &::before {
    background-color: rgba(255, 255,255, .4);
    animation: wave 2.5s infinite .5s;
  }
}

@keyframes wave {
  100% {
   transform: translate(-50%, -50%) scale(5);
   opacity: 0;
  }
}