:root {
  --max-width: 1440px;
  --border-radius: 6px;

   /* Colors */
   --text-color-light-mode: hsl(200, 15%, 8%);
   --text-color-dark-mode: hsl(0, 0%, 100%);

   --background-light-mode: hsl(0, 0%, 98%);
   --background-dark-mode: hsl(207, 26%, 17%);

   --primary-color-light-mode: hsl(0, 0%, 52%);
   --primary-color-dark-mode: hsl(209, 23%, 22%);
}

@media (prefers-color-scheme: dark) {
  :root {}
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: var(--background-light-mode);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 10px;

  @media screen and (min-width: 750px) {
    padding: 0 30px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 80px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
