.logo {
  &__text {
    font-size: 18px;
    font-weight: 600;
    margin: 0;

    @media screen and (min-width: 750px) {
      font-size: 28px;
      font-weight: 800;
    }

    @media screen and (min-width: 1200px) {
      font-size: 24px;
    }
  }
}